{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2">
                <h2>Дестинация</h2>
                {% for category in categories %}
                    <div class="col-md-10">
                        <ul>
                            <li>
                                <a href="{{ path('category_articles', {'id': category.id}) }}">
                                    {{ category.name }}</a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-10">
                <div class="col-md-10">
                    <h1>Обекти за настаняване в България</h1>
                        <p>Добре дошли на нашия блог. Тук можете да намерите полезна информация за обектите за настаняване в България. Може да търсите обекти по ключова дума или по дестинация от менюто вляво. </p>
                        <p>Ако искате да качите информация за своя обект, първо трябва да си направите регистрация като потребител, а след това да създадете нова статия. Можете да редактирате по всяко време данните за своя обект след като отидете на бутона Edit.</p>
                </div>
                    <div class="col-md-10">
                        <h2>Разглеждане на обекти по ключова дума</h2>
                        {% embed "blog/front-images.html.twig" %}
                        {% endembed %}
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h2>Прогноза</h2>
                {% embed "blog/weather.html.twig" %}
                {% endembed %}
            </div>
            <div class="col-md-10">
                <h2>Търсене на обекти по карта</h2>
                {% embed "blog/map.html.twig" %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}